*{
    margin: 1rem;
    padding: 0.4rem;
}
h1{
    text-align: center;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(43, 194, 221);
}
.man{
    display: flex;
    justify-content: center;
}
img{
    width: 23rem;
    border: 0.8rem solid;
    border-radius: 4rem;
    padding: 1rem;
    box-shadow: 1rem white;
    position: relative;
}
img:hover{
    mix-blend-mode: color-burn;
}
.ro{
    display: flex;
    text-align: center;
    cursor: pointer;
    border: 0.2rem solid;
    border-radius: 1rem;

}